@model Event

<div class="container">
    <h2 class="text-warning text-center">Nieuw Evenement</h2>
    <form method="post" class="event-form bg-secondary text-light p-4 rounded">
        <div class="mb-3">
            <label class="form-label text-warning">Naam:</label>
            <input type="text" asp-for="Name" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label text-warning">Beschrijving:</label>
            <input type="text" asp-for="Description" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label text-warning">Startdatum:</label>
            <input type="datetime-local" asp-for="StartDate" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label text-warning">Einddatum:</label>
            <input type="datetime-local" asp-for="EndDate" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label text-warning">Categorie:</label>
            <select asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categories, "Id", "Name"))" class="form-control"></select>
        </div>
        <button type="submit" class="btn btn-warning text-dark fw-bold">Toevoegen</button>
    </form>
</div>
