@model EventManagerASP.Models.Event

<div>
    <h2>More Details</h2>
    <p>@Model.Description</p>
    <p>Start Date: @Model.StartDate</p>
    <p>End Date: @Model.EndDate</p>
    <p>Category: @Model.Category.Name</p>
</div>